{% extends 'base.html' %}

{% block tittle %}| Account{% endblock tittle %}

{% block style %}
  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename='css/offcanvas.css')}}" rel="stylesheet">
{% endblock style %}

{% block nave %}<a class="navbar-brand" href="/estante">Estante Literáira</a>{% endblock nave %} 
{% block nav %}
<li><a href="/estante/novo">Novo Livro</a></li>
<li><a href="/account">Minha Conta</a></li>
<li><a href="/logout">Logout</a></li>
{% endblock nav %}

{% block content %}

<h1>Account</h1>


<table class="table table-striped">
  <tr>
    <th>Username</th>
    <th>Nome</th>
    <th>Email</th>
    <th>Password</th>
    <th> </th>
    
  </tr>

{% for User in Users %}
  <tr>
    <td>{{ User.username }}</td>
    <td>{{ User.name }}</td>
    <td>{{ User.email }}</td>
    <td>********</td>
    <td><a href="{{ url_for( 'user_edit', id=User.id) }}" class="badge badge-info">Editar</a></td>
  </tr>
{% endfor %}
</table>



{% endblock content %}