{% extends 'base.html' %}

{% block tittle %}| Novo Livro{% endblock tittle %}

{% block style %}

  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename='css/signin.css')}}" rel="stylesheet">  

{% endblock style %}

{% block nave %}<a class="navbar-brand" href="/estante">Estante Literáira</a>{% endblock nave %} 
{% block nav %}
<li><a href="/estante/novo">Novo Livro</a></li>
<li><a href="/account">Minha Conta</a></li>
<li><a href="/logout">Logout</a></li>
{% endblock nav %}

{% block content %}

<div class="row">
    <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">

                <!-- form card edit -->
                <div class="card rounded shadow shadow-sm">
                    <div class="card-header">
                        <h3 class="mb-0">Avaliação</h3>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {{ form.hidden_tag() }}
                            <p>
                                <label>Estrelas</label>
                                {{ form.estrela(size=64, class="form-control", placeholder="1") }}
                            </p>
                            <p>
                                <label>Nota</label>
                                {{ form.nota(size=64, class="form-control",placeholder="Sem estruturação") }}
                            </p>
                            <p>

                    </div>
                    <div class="modal-footer">
                        {{form.submit(class="btn btn-info")}}
                    </div>
                    </form>
                    <!--/card-block-->
                </div>
                <!-- /form card login -->
            </div>
        </div>
        <!--/row-->
    </div>
    <!--/col-->
</div>
<!--/row-->

{% endblock content %}