{% extends 'base.html' %}

{% block tittle %}| Novo Livro{% endblock tittle %}

{% block style %}

  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename='css/signin.css')}}" rel="stylesheet">  

{% endblock style %}

{% block nave %}<a class="navbar-brand" href="/estante">Estante Literáira</a>{% endblock nave %} 
{% block nav %}
<li><a href="/estante/novo">Novo Livro</a></li>
<li><a href="/user">Minha Conta</a></li>
<li><a href="/logout">Logout</a></li>
{% endblock nav %}

{% block content %}

<form class="form-booknew" action="" method="POST">
  <h2 class="form-signin-heading">Novo Livro:</h2>

  {{ form.hidden_tag() }}

  <p>
    <label>Título:</label>
    {{ form.title(size=100, class="form-control", placeholder="Ex.: Iracema") }}
  </p>
  <p>
    <label>Autor(a):</label>
    {{ form.autor(size=100, class="form-control", placeholder="Ex.: José de Alencar") }}
  </p>
  <p>
    <label>Dia de Início da Leitura:</label>
    {{ form.datainicio(size=8, class="form-control", placeholder="Ex.: 08012012 (dd mm aaaa)") }}
  </p>
  <p>
    <label>Dia do Termino da Leitura:</label>
    {{ form.datafim(size=8, class="form-control", placeholder="Ex.: 10012012 (dd mm aaaa)") }}
  </p>
  <p>
    <label>Observações Sobre o Livro:</label>
    {{ form.obs(size=250, class="form-control", placeholder="Ex.: Achei o livro incrível...") }}
  </p>
  <br>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>

</form>

{% endblock content %}