{% extends 'base.html' %}

{% block tittle %}| Cadastrar{% endblock tittle %}

{% block nave %}<a class="navbar-brand" href="/index">Estante Literáira</a>{% endblock nave %}   
{% block nav %}
<li><a href="/login">Login</a></li>
<li><a href="/cadastrar">Cadastrar</a></li>
{% endblock nav %}

{% block style %}

  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename='css/signin.css')}}" rel="stylesheet">  

{% endblock style %}

{% block content %}

      <form class="form-booknew" action="" method="POST">
        <h2 class="form-signin-heading">Fazer Cadastro:</h2>

        {{ form.hidden_tag() }}
        
        <label>Nome de Usuário</label>
        {{ form.username(class="form-control", placeholder="UserName")}}
        
        <label>Email</label>
        {{ form.email(class="form-control", placeholder="Email@email.com")}}

        <label>Nome</label>
        {{ form.name(class="form-control", placeholder="Nome Sobrenome")}}
        
        <label>Senha</label>
        {{ form.password(class="form-control",placeholder="********")}}
        <a href="{{url_for('login')}}" class="text-info card-link">Já possui uma conta? Entrar</a>
        <br>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
        <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-warning">
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        </div>
        {% endif %}
      {% endwith %}
      </form>

{% endblock content %}      