{% extends 'base.html' %}

{% block style %}

  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename='css/signin.css')}}" rel="stylesheet">  

{% endblock style %}

{% block content %}

      <form class="form-booknew" action="" method="GET ,POST">
        <h2 class="form-signin-heading">Fazer Cadastro:</h2>

        {{ form.hidden_tag() }}
        
        <label>Nome de Usuário</label>
        {{ form.username(class="form-control", placeholder="UserName")}}
        
        <label>Nome</label>
        {{ form.name(class="form-control", placeholder="Nome Sobrenome")}}
        
        <label>Email</label>
        {{ form.email(class="form-control", placeholder="Email@email.com")}}
        
        <label>Senha</label>
        {{ form.password(class="form-control",placeholder="********")}}
        
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
      </form>

{% endblock content %}      