{% extends 'base.html' %}

{% block tittle %}| Novo Livro{% endblock tittle %}

{% block style %}

  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename='css/signin.css')}}" rel="stylesheet">  

{% endblock style %}

{% block nave %}<a class="navbar-brand" href="/estante">Estante Literáira</a>{% endblock nave %} 
{% block nav %}
<li><a href="/estante/novo">Novo Livro</a></li>
<li><a href="/account">Minha Conta</a></li>
<li><a href="/logout">Logout</a></li>
{% endblock nav %}

{% block content %}

<div class="row">
    <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">

                <!-- form card edit -->
                <div class="card rounded shadow shadow-sm">
                    <div class="card-header">
                        <h3 class="mb-0">Editar Dados</h3>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {{ form.hidden_tag() }}
                            <p>
                                <label>Username</label>
                                {{ form.username(size=64, value=user.username, class="form-control") }}
                            </p>
                            <p>
                                <label>Email</label>
                                {{ form.email(size=64, value=user.email, class="form-control") }}
                            </p>
                            <p>
                                <label>Nome</label>
                                {{ form.name(size=8, value=user.name, class="form-control") }}
                            </p>
                            <p>
                                <label>Senha</label>
                                {{ form.password(size=8, placeholder="*****", class="form-control") }}
                            </p>
                    </div>
                    <div class="modal-footer">
                        {{form.submit(class="btn btn-info")}}
                        <a href="{{ url_for( 'user_delete', id=user.id) }}"data-target="#deleteModal" class="btn btn-info">Excluir Conta</a>
                    </div>
                    </form>
                    <!--/card-block-->
                </div>
                <!-- /form card login -->
            </div>
        </div>
        <!--/row-->
    </div>
    <!--/col-->
</div>
<!--/row-->

{% endblock content %}