{% extends 'baseestante.html' %}

{% block style %}
  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename='css/offcanvas.css')}}" rel="stylesheet">
{% endblock style %}

{% block content %}

<h1>Livros</h1>


<table class="table table-striped">
  <tr>
    <th>Título</th>
    <th>Autor(a)</th>
    <th>Dia de início da leitura</th>
    <th>Dia de termino da leitura</th>
    <th>Observações</th>
  </tr>
{% for Book in Books %}
  <tr>
    <td>{{ Book.title }}</td>
    <td>{{ Book.autor }}</td>
    <td>{{ Book.datainicio }}</td>
    <td>{{ Book.datafim }}</td>
    <td>{{ Book.obs }}</td>
  </tr>
{% endfor %}
</table>



{% endblock content %}