{% extends 'base.html' %}

{% block tittle %}| Livros{% endblock tittle %}

{% block style %}
  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename='css/offcanvas.css')}}" rel="stylesheet">
{% endblock style %}

{% block nave %}<a class="navbar-brand" href="/estante">Estante Literáira</a>{% endblock nave %} 
{% block nav %}
<li><a href="/estante/novo">Novo Livro</a></li>
<li><a href="/user">Minha Conta</a></li>
<li><a href="/logout">Logout</a></li>
{% endblock nav %}

{% block content %}

<h1>Livros</h1>


<table class="table table-striped">
  <tr>
    <th>Título</th>
    <th>Autor(a)</th>
    <th>Dia de início da leitura</th>
    <th>Dia de termino da leitura</th>
    <th>Observações</th>
    <th> </th>
    
  </tr>

{% for Book in Books %}
  <tr>
    <td>{{ Book.title }}</td>
    <td>{{ Book.autor }}</td>
    <td>{{ Book.datainicio }}</td>
    <td>{{ Book.datafim }}</td>
    <td>{{ Book.obs }}</td>
    <td><a href="{{ url_for( 'book_edit', id=Book.id) }}" class="badge badge-info">Editar</a></td>
  </tr>
{% endfor %}
</table>



{% endblock content %}