<html>
    <head>
        <title>Estante Literaria</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand">Estante Literaria</a>
                <button class="btn btn-outline-success" type="submit">Login</button>
            </div>
        </nav>

        <p>bem-vindos</p>

        <!-- jQuerry (necessary for Bootstrap's JavaScript plugins)-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    </body>

</html>