{% extends 'base.html' %}

{% block style %}

  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename='css/signin.css')}}" rel="stylesheet">  

{% endblock style %}

{% block content %}

      <form class="form-signin" action="" method="GET ,POST">
        <h2 class="form-signin-heading">Fazer Login:</h2>

        {{ form.csrf_token }}
        
        <label>Nome de Usuário</label>
        {{ form.username(class="form-control", placeholder="UserName")}}
        
        <label>Senha</label>
        {{ form.password(class="form-control",placeholder="********")}}
        
        <div class="checkbox">
          <label>{{ form.remember_me}}Remember-me</label>
        </div>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
      </form>
      
{% endblock content %}